<div class="uk-card uk-card-wallet">
    <div class="uk-card-header">
        <h3 class="uk-card-title">A list of addresses you have previously added</h3>
        <div class="uk-card-text-notice">
            <i class="ico-notice"><img src="%=static=%images/general/ico-notice.svg" alt=""></i>
            <span>Notice: Wallet addresses are only saved on your local box cookies</span>
        </div>
        <div>If you <a href="#">login</a>, all wallets will be stored in the system</div>
    </div>
    <div class="uk-card-body">
        <table class="uk-table uk-table-middle">
            <thead>
                <tr>
                    <th class="uk-table-shrink">Symbol</th>
                    <th class="uk-table-shrink">WSM</th>
                    <th>Balance</th>
                    <th class="uk-table-expand">Wallet</th>
                    <th class="uk-table-shrink"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <i class="ico-symbol">
                                <img src="%=static=%images/general/ico-symbol.svg" alt="">
                            </i>
                            <span class="uk-visible@s">Impleum</span>
                        </div>
                    </td>

                    <td class="uk-cell-wsm"><span>W.S.M</span></td>
                    <td class="uk-text-break">8079.8845327465</td>
                    <td class="uk-text-truncate"><a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a></td>
                    <td>
                        <button class="uk-cell-close">
                            <img src="%=static=%images/general/ico-close.svg" alt="">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><i class="ico-symbol"><img src="%=static=%images/general/ico-symbol.svg" alt=""></i><span class="uk-visible@s">IMPL</span></td>
                    <td class="uk-cell-wsm"><span>W.S.M</span></td>
                    <td class="uk-text-break">8079.8845327465</td>
                    <td class="uk-text-truncate"><a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a></td>
                    <td>
                        <button class="uk-cell-close">
                            <img src="%=static=%images/general/ico-close.svg" alt="">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><i class="ico-symbol"><img src="%=static=%images/general/ico-symbol.svg" alt=""></i><span class="uk-visible@s">IMPL</span></td>
                    <td class="uk-cell-wsm"><span>W.S.M</span></td>
                    <td class="uk-text-break">8079.8845327465</td>
                    <td class="uk-text-truncate"><a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a></td>
                    <td>
                        <button class="uk-cell-close">
                            <img src="%=static=%images/general/ico-close.svg" alt="">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><i class="ico-symbol"><img src="%=static=%images/general/ico-symbol.svg" alt=""></i><span class="uk-visible@s">IMPL</span></td>
                    <td class="uk-cell-wsm"><span>W.S.M</span></td>
                    <td class="uk-text-break">8079.8845327465</td>
                    <td class="uk-text-truncate"><a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a></td>
                    <td>
                        <button class="uk-cell-close">
                            <img src="%=static=%images/general/ico-close.svg" alt="">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td><i class="ico-symbol"><img src="%=static=%images/general/ico-symbol.svg" alt=""></i><span class="uk-visible@s">IMPL</span></td>
                    <td class="uk-cell-wsm"><span>W.S.M</span></td>
                    <td class="uk-text-break">8079.8845327465</td>
                    <td class="uk-text-truncate"><a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a></td>
                    <td>
                        <button class="uk-cell-close">
                            <img src="%=static=%images/general/ico-close.svg" alt="">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>