<div class="uk-tabs-holder  uk-visible@m">
    <ul class="uk-tab" uk-tab="{connect:'.uk-tab-content'}">
        <li class="uk-active"><a href="#">Deposit history</a></li>
        <li><a href="#">Withdrawal history</a></li>
        <li><a href="#">Unlock requests</a></li>
    </ul>
    <ul class="uk-tab-content uk-switcher">
        <li>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-middle">
                    <thead>
                    <tr>
                        <th class="uk-table-shrink">Wallet address</th>
                        <th>Address Type</th>
                        <th>Coin</th>
                        <th>Deposit</th>
                        <th class="uk-table-shrink">Time</th>
                        <th>Stacking ends</th>
                        <th>TX</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                        <td>Internal</td>
                        <td>IMPL</td>
                        <td>7207</td>
                        <td>5mo</td>
                        <td>2019-06-19<br>08:30pm</td>
                        <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                    </tr>
                    <tr>
                        <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                        <td>Internal</td>
                        <td>IMPL</td>
                        <td>7207</td>
                        <td>5mo</td>
                        <td>2019-06-19<br>08:30pm</td>
                        <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                    </tr>
                    <tr>
                        <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                        <td>Internal</td>
                        <td>IMPL</td>
                        <td>7207</td>
                        <td>5mo</td>
                        <td>2019-06-19<br>08:30pm</td>
                        <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="uk-overflow-auto">
                <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                <tr>
                    <th class="uk-table-shrink">Wallet address</th>
                    <th>Address Type</th>
                    <th>Coin</th>
                    <th>Deposit</th>
                    <th class="uk-table-shrink">Time</th>
                    <th>Stacking ends</th>
                    <th>TX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </li>
        <li>
            <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                <tr>
                    <th class="uk-table-shrink">Wallet address</th>
                    <th>Address Type</th>
                    <th>Coin</th>
                    <th>Deposit</th>
                    <th class="uk-table-shrink">Time</th>
                    <th>Stacking ends</th>
                    <th>TX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                <tr>
                    <td>Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td>5mo</td>
                    <td>2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a></td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
