<ul class="uk-tab-graph" uk-tab="{connect:'.uk-graph-content'}">
    <li class="uk-active"><a href="#">MASTERNODES</a></li>
    <li><a href="#">ROI %</a></li>
    <li><a href="#">PRICE USD</a></li>
    <li><a href="#">PRICE BTC</a></li>
    <li><a href="#">DAILY BIR</a></li>
    <li><a href="#">MONTHLY BIR</a></li>
    <li><a href="#">YEARLY BIR</a></li>
</ul>
<ul class="uk-graph-content uk-switcher">
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
    <li>
        <img src="%=static=%images/general/graph.jpg" alt="">
    </li>
</ul>