<div class="uk-tabs-holder">
    <ul class="uk-tab" uk-tab="{connect:'.uk-tab-content'}">
        <li class="uk-active"><a href="#">Deposit <span class="uk-visible@s">history</span></a></li>
        <li><a href="#">Withdrawal <span class="uk-visible@s">history</span></a></li>
        <li><a href="#">Unlock</a></li>
    </ul>
    <ul class="uk-tab-content uk-switcher">
        <li>
            <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                <tr>
                    <th>Wallet address</th>
                    <th class="uk-visible@s">Address Type</th>
                    <th>Coin</th>
                    <th>Deposit</th>
                    <th class="uk-table-shrink uk-visible@s">Time</th>
                    <th class="uk-visible@s">Stacking ends</th>
                    <th>TX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td class="uk-visible@s">2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td class="uk-visible@s">2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">Internal</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td class="uk-visible@s">2019-06-19<br>08:30pm</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                <tr>
                    <th>Wallet address</th>
                    <th class="uk-visible@s">Coin</th>
                    <th>Amount</th>
                    <th class="uk-visible@s">Time</th>
                    <th>Status</th>
                    <th>TX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>done</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>done</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td class="uk-visible@s">IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>done</td>
                    <td><a class="uk-cell-tx" href="#">TX <img src="%=static=%images/general/icon-tx.svg" alt=""></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
        <li>
            <table class="uk-table uk-table-striped uk-table-middle">
                <thead>
                <tr>
                    <th>Wallet address</th>
                    <th>Coin</th>
                    <th>Amount</th>
                    <th class="uk-visible@s">Time</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>new</td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>new</td>
                </tr>
                <tr>
                    <td class="uk-text-break">Mxfc1c864df260a55f1263f258b916a442896a6514</td>
                    <td>IMPL</td>
                    <td>7207</td>
                    <td class="uk-visible@s">5mo</td>
                    <td>new</td>
                </tr>
                </tbody>
            </table>
        </li>
    </ul>
</div>
