<nav class="uk-container" uk-navbar>
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">
            <img src="%=static=%images/general/logo.svg" alt="Showcoins">
        </a>
        <span class="uk-navbar-item uk-slogan">WSM progressive mining system</span>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item">
            <a href="#" class="uk-button uk-button-secondary uk-btn-img">
                <img src="%=static=%images/general/icon-tools.svg" alt="You workers">
                <span>You workers</span>
            </a>
        </div>
        <div class="uk-navbar-item">
            <div class="uk-actions">
                <a class="uk-button uk-button-secondary" href="#">Sign in</a>
                <a class="uk-button uk-button-primary" href="#">Register</a>
            </div>
        </div>
    </div>
</nav>
