<section class="uk-section uk-section-form-support">
    <div class="uk-container">
        <h2 class="uk-section-title">Forum & Support</h2>
        <div class="uk-section-body">
            <form class="uk-form-support" action="#">
                <div class="uk-form-title">
                    Any questions? Contact us!
                </div>
                <div class="uk-form-body">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Send your e-mail">
                    <input type="text" placeholder="send your message">
                    <div class="uk-form-submit">
                        <button class="uk-button uk-button-primary">Send form</button>
                        <label>
                            <input class="uk-checkbox" type="checkbox">
                            <span>I accept the terms of the user agreement</span>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>