<form class="uk-search uk-search-default">
    <div class="uk-holder-filter">
        <div class="uk-form-controls uk-checkbox-holder">
            <span class="uk-visible@s">Show<br> coins:</span>
            <div>
                <input id="pow" type="checkbox" name="pow">
                <label for="pow">PoW</label>
            </div>
            <div>
                <input id="pos" type="checkbox" name="pos">
                <label for="pos">PoS</label>
            </div>
            <div>
                <input id="mn" type="checkbox" name="mn">
                <label for="mn">MN</label>
            </div>
        </div>
        <div class="uk-form-controls uk-form-select">
            <select class="uk-select" name="sort">
                <option>Sorting by ROI</option>
                <option>30%</option>
                <option>30%</option>
                <option>30%</option>
                <option>30%</option>
            </select>
        </div>
    </div>

    <div class="uk-form-controls">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Please fill the algos to browse it">
    </div>
</form>