<div class="uk-card-stacking">
    <div class="uk-card-header" uk-height-match>
        <div class="uk-block-active">
            <span>Active coins:</span>
            <div>3</div>
        </div>
        <div class="uk-block-balance">
            <strong>0.00000000 <span>BTC / 24h</span></strong>
        </div>
        <div class="uk-block-service">
            <strong>All coins on our service:</strong><span> 142</span>
        </div>
    </div>
    <div class="uk-card-body">
        <table cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Coin</th>
                    <th>Exch/MN/PoS</th>
                    <th>Day collect</th>
                    <th>ROI%</th>
                    <th class="uk-visible@m">Last payout</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr class="uk-table-title">
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-appolon.svg" alt="">
                        <strong class="uk-visible@s">Appolon</strong>
                    </td>
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-change.svg" uk-svg alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-mn2.svg" uk-svg alt="">
                        <span class="icon-table-holder">
                            <img class="icon-table" src="%=static=%images/general/icon-pos.svg" uk-svg alt="">
                            <em>10</em>
                        </span>

                    </td>
                    <td>304</td>
                    <td>950%</td>
                    <td class="uk-visible@m">0.14/14 h ago</td>
                    <td class="uk-word-break">0,3434546456 1X</td>
                </tr>
                <tr class="uk-table-content">
                    <td class="uk-padding-remove" colspan="6">
                        <table class="uk-table uk-table-middle uk-sub-table" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>MN aliace</th>
                                    <th>Lock MN</th>
                                    <th>Hosterd MN</th>
                                    <th>Unlock MN Request</th>
                                    <th>Day collect</th>
                                    <th>ROI%</th>
                                    <th>Last payout</th>
                                    <th>Balance</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                        MN1
                                    </td>
                                    <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                    <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                    <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                    <td>
                                        <button class="uk-button uk-button-primary">
                                            Setting
                                            <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                        </button>
                                        <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                            <ul>
                                                <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                                <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                                <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                                <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                        MN1
                                    </td>
                                    <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                    <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                    <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                    <td>
                                        <button class="uk-button uk-button-primary">
                                            Setting
                                            <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                        </button>
                                        <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                            <ul>
                                                <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                                <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                                <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                                <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                        MN1
                                    </td>
                                    <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                    <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                    <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                    <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                    <td>
                                        <button class="uk-button uk-button-primary">
                                            Setting
                                            <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                        </button>
                                        <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                            <ul>
                                                <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                                <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                                <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                                <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="uk-table-title">
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-symbol.svg" alt="">
                        <strong class="uk-visible@s">1XCOIN</strong>
                    </td>
                    <td>
                        <img class="icon-table inactive" src="%=static=%images/general/ico-change.svg" uk-svg alt="">
                        <img class="icon-table inactive" src="%=static=%images/general/icon-mn2.svg" uk-svg alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-pos.svg" uk-svg alt="">
                    </td>
                    <td>304</td>
                    <td>950%</td>
                    <td class="uk-visible@m">0.14/14 h ago</td>
                    <td class="uk-word-break">0,3434546456 1X</td>
                </tr>
                <tr class="uk-table-content">
                    <td class="uk-padding-remove" colspan="6">
                        <table class="uk-table uk-table-middle uk-sub-table" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>MN aliace</th>
                                <th>Lock MN</th>
                                <th>Hosterd MN</th>
                                <th>Unlock MN Request</th>
                                <th>Day collect</th>
                                <th>ROI%</th>
                                <th>Last payout</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="uk-table-title">
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-appolon.svg" alt="">
                        <strong class="uk-visible@s">Appolon</strong>
                    </td>
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-change.svg" alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-mn2.svg" alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-pos.svg" alt="">
                    </td>
                    <td>304</td>
                    <td>950%</td>
                    <td class="uk-visible@m">0.14/14 h ago</td>
                    <td class="uk-word-break">0,3434546456 1X</td>
                </tr>
                <tr class="uk-table-content">
                    <td class="uk-padding-remove" colspan="6">
                        <table class="uk-table uk-table-middle uk-sub-table" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>MN aliace</th>
                                <th>Lock MN</th>
                                <th>Hosterd MN</th>
                                <th>Unlock MN Request</th>
                                <th>Day collect</th>
                                <th>ROI%</th>
                                <th>Last payout</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">MN aliace</div>
                                    MN1
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">Lock MN</div>50000</td>
                                <td><div class="uk-hide-title uk-hidden@s">Hosterd MN</div>200</td>
                                <td><div class="uk-hide-title uk-hidden@s">Unlock MN Request</div>5120</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td>
                                    <button class="uk-button uk-button-primary">
                                        Setting
                                        <img src="%=static=%images/general/arrow-bottom.svg" alt="arrow">
                                    </button>
                                    <div class="uk-card-drop" uk-drop="mode: click; pos: bottom-left">
                                        <ul>
                                            <li><a href="#modal-settings" uk-toggle>Add custom setting</a></li>
                                            <li><a href="#modal-request" uk-toggle>Request withdraw</a></li>
                                            <li><a href="#modal-address" uk-toggle>Delete Address</a></li>
                                            <li><a href="#modal-unlock" uk-toggle>Unlock MN amount</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr class="uk-table-title">
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-appolon.svg" alt="">
                        <strong class="uk-visible@s">Appolon</strong>
                    </td>
                    <td>
                        <img class="icon-table" src="%=static=%images/general/ico-change.svg" alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-mn2.svg" alt="">
                        <img class="icon-table" src="%=static=%images/general/icon-pos.svg" alt="">
                    </td>
                    <td>304</td>
                    <td>950%</td>
                    <td class="uk-visible@m">0.14/14 h ago</td>
                    <td class="uk-word-break">0,3434546456 1X</td>
                </tr>
                <tr class="uk-table-content">
                    <td class="uk-padding-remove" colspan="6">
                        <table class="uk-table uk-table-middle uk-sub-table" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>Wallet address</th>
                                <th>% sent to stack.</th>
                                <th>Stacking FEE</th>
                                <th>Min hold. time (h)</th>
                                <th>Day collect</th>
                                <th>ROI%</th>
                                <th>Last payout</th>
                                <th>Balance</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">Wallet address</div>
                                    <img class="icon-table uk-visible@l" src="%=static=%images/general/ico-change.svg" alt="">
                                    <a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a>
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">% sent to stack.</div>76%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Stacking FEE</div>3%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Min hold. time (h</div>1000h</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td><a href="#" class="uk-button uk-button-primary">Setting<img src="%=static=%images/general/arrow-bottom.svg" alt="arrow"></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">Wallet address</div>
                                    <img class="icon-table uk-visible@l" src="%=static=%images/general/ico-change.svg" alt="">
                                    <a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a>
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">% sent to stack.</div>76%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Stacking FEE</div>3%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Min hold. time (h</div>1000h</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td><a href="#" class="uk-button uk-button-primary">Setting<img src="%=static=%images/general/arrow-bottom.svg" alt="arrow"></a></td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="uk-hide-title uk-hidden@s">Wallet address</div>
                                    <img class="icon-table uk-visible@l" src="%=static=%images/general/ico-change.svg" alt="">
                                    <a href="#">Mxfc1c864df260a55f1263f258b916a442896a6514</a>
                                </td>
                                <td><div class="uk-hide-title uk-hidden@s">% sent to stack.</div>76%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Stacking FEE</div>3%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Min hold. time (h</div>1000h</td>
                                <td><div class="uk-hide-title uk-hidden@s">Day collect</div>150</td>
                                <td><div class="uk-hide-title uk-hidden@s">ROI%</div>29%</td>
                                <td><div class="uk-hide-title uk-hidden@s">Last payout</div>0.14/14 h ago</td>
                                <td class="uk-word-break"><div class="uk-hide-title uk-hidden@s">Balance</div>0,3434546456 1X</td>
                                <td><a href="#" class="uk-button uk-button-primary">Setting<img src="%=static=%images/general/arrow-bottom.svg" alt="arrow"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>