<div class="uk-card-workers" uk-height-match>
    <div class="uk-card-title-block">
        <h2 class="uk-card-title">
            <span>Ethash</span> | <em><img src="%=static=%images/general/ico-ethereum.svg" alt="">Ethereum</em>
        </h2>
        <div class="uk-card-block uk-visible@s">
            <div>
                <span>
                    <img src="%=static=%images/general/icon-coins.svg" alt=""> 1
                </span>
                <span>
                    <img src="%=static=%images/general/ico-time.svg" alt=""> TFB: 1 d
                </span>
            </div>
            <div>
                <span>
                    <img src="%=static=%images/general/icon-curve.svg" alt=""> 1234567891012 mH/S
                </span>
                <span>
                    <img src="%=static=%images/general/icon-ferm.svg" alt=""> 1234567891012 mH/S
                </span>
            </div>
        </div>
    </div>
    <div class="uk-card-active-block">
        <div>1</div>
        <span>Active workers</span>
    </div>
    <div class="uk-card-miner-block">
        <div class="uk-big-circle">
            W.S.M
            <span class="uk-visible@s">ON</span>
        </div>
        <div class="uk-holder-circle">
            <div class="uk-circle-pos uk-color-red" uk-tooltip="You miner working for Stacking">PoS</div>
            <div class="uk-circle-mn uk-color-red" uk-tooltip="You miner working for Stacking">MN</div>
        </div>
    </div>
    <div class="uk-card-balance-block">
        <span>Balance:</span>
        <strong>0.00000000  <em>BTC / 24h</em></strong>
        <div>Next payout - 21.04.2019,
            18.59 (UTC)</div>
    </div>
    <div class="uk-card-title-block  uk-hidden@s">
        <div class="uk-card-block">
            <div>
                <span>
                    <img src="%=static=%images/general/icon-coins.svg" alt=""> 1
                </span>
                <span>
                    <img src="%=static=%images/general/ico-time.svg" alt=""> TFB: 1 d
                </span>
            </div>
            <div>
                <span>
                    <img src="%=static=%images/general/icon-curve.svg" alt=""> 1234567891012 mH/S
                </span>
                <span>
                    <img src="%=static=%images/general/icon-ferm.svg" alt=""> 1234567891012 mH/S
                </span>
            </div>
        </div>
    </div>

</div>
<div class="uk-card-workers" uk-height-match>
    <div class="uk-card-title-block">
        <h2 class="uk-card-title">
            <span>Ethash</span> | <em><img src="%=static=%images/general/ico-ethereum.svg" alt="">Ethereum</em>
        </h2>
        <div class="uk-card-block uk-visible@s">
            <div>
                <span>
                    <img src="%=static=%images/general/icon-coins.svg" alt=""> 1
                </span>
                <span>
                    <img src="%=static=%images/general/ico-time.svg" alt=""> TFB: 1 d
                </span>
            </div>
            <div>
                <span>
                    <img src="%=static=%images/general/icon-curve.svg" alt=""> 1234567891012 mH/S
                </span>
                <span>
                    <img src="%=static=%images/general/icon-ferm.svg" alt=""> 1234567891012 mH/S
                </span>
            </div>
        </div>
    </div>
    <div class="uk-card-active-block">
        <div class="uk-color-red">0</div>
        <span>Active workers</span>
    </div>
    <div class="uk-card-miner-block">
        <div class="uk-big-circle uk-color-red">
            W.S.M
            <span class="uk-visible@s">ON</span>
        </div>
        <div class="uk-holder-circle">
            <div class="uk-circle-pos uk-color-red" uk-tooltip="You miner working for Stacking">PoS</div>
            <div class="uk-circle-mn uk-color-red" uk-tooltip="You miner working for Stacking">MN</div>
        </div>
    </div>
    <div class="uk-card-balance-block">
        <span>Balance:</span>
        <strong>0.00000000 <em>BTC / 24h</em></strong>

        <div>Next payout - 21.04.2019,
            18.59 (UTC)</div>
    </div>
    <div class="uk-card-title-block  uk-hidden@s">
        <div class="uk-card-block">
            <div>
                <span>
                    <img src="%=static=%images/general/icon-coins.svg" alt=""> 1
                </span>
                <span>
                    <img src="%=static=%images/general/ico-time.svg" alt=""> TFB: 1 d
                </span>
            </div>
            <div>
                <span>
                    <img src="%=static=%images/general/icon-curve.svg" alt=""> 1234567891012 mH/S
                </span>
                <span>
                    <img src="%=static=%images/general/icon-ferm.svg" alt=""> 1234567891012 mH/S
                </span>
            </div>
        </div>
    </div>
</div>