<div class="uk-tabs-holder">
    <ul class="uk-tab" uk-tab="{connect:'.uk-tab-content'}">
        <li class="uk-active">
            <a href="#">
                <span class="uk-visible@s">General Dashboard</span>
                <img class="uk-hidden@s" src="%=static=%images/general/ico-tab1.svg" uk-svg alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <span class="uk-visible@s">Your workers</span>
                <span class="uk-visible@s uk-tab-count">1</span>
                <img class="uk-hidden@s" src="%=static=%images/general/icon-tools.svg" uk-svg alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <span class="uk-visible@s">Stacking</span>
                <img class="uk-hidden@s" src="%=static=%images/general/ico-tab2.svg" uk-svg alt="">
            </a>
        </li>
        <li>
            <a href="#">
                <span class="uk-visible@s">Masternode</span>
                <img class="uk-hidden@s" src="%=static=%images/general/icon-mn2.svg" uk-svg alt="">
            </a>
        </li>
    </ul>
    <ul class="uk-tab-content uk-switcher">
        <li>
            <h2 class="uk-tab-content-title">
                Your workers
            </h2>
            {{> dashboard/card-workers}}
            <h2 class="uk-tab-content-title">
                Stacking
            </h2>
            {{> dashboard/card-stacking}}
            <h2 class="uk-tab-content-title">
                Stacking (with no auto exhange)
            </h2>
            {{> dashboard/card-stacking-ex}}
            <h2 class="uk-tab-content-title">
                Masternode
            </h2>
            {{> dashboard/card-masternode}}
        </li>
        <li>
            <h2 class="uk-tab-content-title">
                Your workers
            </h2>
            {{> dashboard/card-workers}}
        </li>
        <li>
            <h2 class="uk-tab-content-title">
                Stacking
            </h2>
            {{> dashboard/card-stacking}}
            <h2 class="uk-tab-content-title">
                Stacking (with no auto exhange)
            </h2>
            {{> dashboard/card-stacking-ex}}
        </li>
        <li>
            <h2 class="uk-tab-content-title">
                Masternode
            </h2>
            {{> dashboard/card-masternode}}
        </li>
    </ul>
</div>

<div id="modal-settings" class="uk-modal-dashboard uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-title uk-text-center">
            Add custom setting
        </div>
        <div class="uk-modal-body">
            <form action="#">
                <div class="uk-form-inner">
                    <div class="uk-form-row">
                        <label for="fname">COINID <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <input class="uk-input" id="fname" type="text" value="11">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">Symbol <span class="uk-question gray" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <input class="uk-input" id="fname" type="text" value="PRX">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">Percent <span class="uk-question white" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="100">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">Holding time <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="100">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">External address <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="Mxfc1c864df260a55f1263f258b916a442896...">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">Payment COIN ID <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="PRX">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">BTC address <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="Mxfc1c864df260a55f1263f258b916a442896...">
                        </div>
                    </div>
                    <div class="uk-checkbox-group">
                        <label>
                            <input type="checkbox" class="uk-checkbox">
                            Exchange
                        </label>
                        <label>
                            <input type="checkbox" class="uk-checkbox">
                            Masternodes
                        </label>
                        <label>
                            <input type="checkbox" class="uk-checkbox">
                            Keep on balance
                        </label>
                        <label>
                            <input type="checkbox" class="uk-checkbox">
                            Pay rewards
                        </label>
                    </div>
                    <div class="uk-form-footer uk-text-center">
                        <button class="uk-button uk-button-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-request" class="uk-modal-dashboard uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-title uk-text-center">
            Request withdraw
        </div>
        <div class="uk-modal-body">
            <form action="#">
                <div class="uk-form-inner">
                    <div class="uk-form-row">
                        <label for="fname">Amount <span class="uk-question" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="1120">
                        </div>
                    </div>
                    <div class="uk-form-row">
                        <label for="fname">Withdraw address <span class="uk-question gray" uk-tooltip="title: Please set your External address to receive auto payouts(Used for intermal addresses)">?</span></label>
                        <div class="uk-inline">
                            <span class="uk-icon-edit">
                                <img src="%=static=%images/general/icon-edit.svg" alt="">
                            </span>
                            <input class="uk-input" id="fname" type="text" value="Mxfc1c864df260a55f1263f258b916a442896...">
                        </div>
                    </div>
                    <div class="uk-form-footer uk-text-center">
                        <button class="uk-button uk-button-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modal-address" class="uk-modal-dashboard uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-title">
            Delete address <strong>ID 25</strong>
        </div>
        <ul class="uk-modal-list">
            <li>
                <strong>Address:</strong>
                <span>Mxfc1c864df260a55f1263f258b916a442896875456dfg</span>
            </li>
            <li>
                <strong>Balance:</strong>
                <span>0</span>
            </li>
            <li>
                <strong>Available:</strong>
                <span>0</span>
            </li>
            <li>
                <strong>Total earnings:</strong>
                <span>0</span>
            </li>
        </ul>
        <div class="uk-message-warning">PLease confirm you want to delete the address. All data related to this address will be lost.</div>
        <button class="uk-button uk-button-warning">Delete address</button>
    </div>
</div>

<div id="modal-unlock" class="uk-modal-dashboard uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <div class="uk-modal-title">
            Unlock amount on MN
        </div>
        <div class="uk-message-warning">
            <p>Your balance will be unlocked within several days. Timeframe varies based on locked amount.</p>
            <p>Be sure you turned off MN participation in address related settings. Otherwise your balance will be used automatically in new nodes activation.</p>
        </div>
        <ul class="uk-modal-list">
            <li class="uk-message-success">Locked balance : 50000</li>
            <li>Node MN1 Locked amount - 25000 XAP</li>
            <li>Node MN2 Locked amount - 25000 XAP</li>
        </ul>
        <button class="uk-button uk-button-primary">Confim unlock</button>
    </div>
</div>