<section class="uk-section uk-section-service">
    <div class="uk-container">
        <h2 class="uk-section-title">Why you need to use our service?</h2>
        <div class="uk-section-body">
            <div class="uk-grid-small uk-child-width-1-2 uk-child-width-1-5@m uk-flex-center" uk-grid>
                {{#each items}}
                <div>
                    <div class="uk-card-service">
                        <a href="#">
                            <div class="uk-card-media">
                                <img src="%=static=%images/general/{{icon}}" alt="">
                            </div>
                            <div class="uk-card-title">
                                {{title}}
                            </div>
                            <div class="uk-card-content uk-visible@l">
                                {{text}}
                            </div>
                        </a>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>