.uk-content-algos {
  .uk-grid-small {
    > div {
      &.uk-active {
        .uk-card-algos {
          &:after {
            content: '';
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-13px);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 16px 13px 0 13px;
            border-color: #cccccc transparent transparent transparent;
          }
          @media (min-width: @breakpoint-small) {
            position: relative;
            z-index: 9999;
          }
          @media (max-width: @breakpoint-xsmall-max) {
            border: 3px solid #FFCC00;
            box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
            margin: 0 0 20px;
          }
        }
        .uk-table-algos {
          display: block;
          @media (min-width: @breakpoint-small) {
            left: 23px;
          }
          @media (min-width: @breakpoint-medium) {
            left: auto;
          }
        }
      }
    }
  }
  .uk-overlay {
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    opacity: .5;
    display: none;
    &.uk-active {
      display: block;
    }
    @media (max-width: @breakpoint-xsmall-max) {
      display: none !important;
    }
  }
  .uk-label {
    padding: 3px 4px;
    font-size: 12px;
    color: @global-color;
    margin: 0 2px;

    &-new {
      background: rgba(188, 234, 167, 0.5);
    }
    &-hot {
      background: #FFC9C9;
    }
    &-wsm {
      background: rgba(255, 204, 0, 0.5);
    }
    &-boost {
      background: rgba(38, 127, 229, 0.5);
    }
  }
  .uk-search {
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: @breakpoint-small-max) {
      margin: 0;
    }
    .uk-form-controls {
      margin: 0 0 30px;
      width: 100%;
      @media (max-width: @breakpoint-small-max) {
        order: 3;
      }
    }

    .uk-search-header {
      width: 100%;

      > button {
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: normal;
        @media (min-width: @breakpoint-medium) {
          font-size: 17px;
        }

        img {
          margin-left: 5px;
          transform: rotate(-90deg);
        }

        &.uk-active {
          img {
            transform: none;
          }
        }
      }
      @media (min-width: @breakpoint-medium) {
        order: 1;
      }
    }
  }
  .uk-toggle-content {
    padding: 30px;
    width: 100%;
    min-width: inherit;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.05), inset 0px -4px 5px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    @media (max-width: @breakpoint-small-max) {
      order: 2;
    }
  }
  .uk-card-algos {
    padding: 15px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transition: box-shadow .3s ease 0s;
    cursor: pointer;
    font-size: 16px;
    background: #fff;
    &:hover {
      box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2);
    }
    .uk-card {
      &-title {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #000;
        margin: 0;
      }

      &-header {
        padding: 0;
      }

      &-header-top {
        display: flex;
        align-items: center;
        padding: 0 10px;

        > div {
          display: flex;
          align-items: center;
          margin-left: 12px;
          flex-wrap: wrap;
          font-size: 17px;
        }

        img, svg {
          width: 18px;
          height: 18px;
          margin-right: 6px;
          flex: 0 0 auto;
          path {
            fill: #DD8647;
          }
          &.uk-ico-black {
            path {
              fill: #000;
            }
          }
        }
      }
      &-header-bottom {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 10px 14px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        >div {
          margin-right: 13px;
        }
      }
      &-body {
        padding: 14px 10px 0;
        > div {
          display: flex;
          flex-wrap: wrap;
          span:first-child {
            min-width: 125px;
            display: inline-block;
          }
          img, svg {
            width: 18px;
            height: 18px;
            margin-right: 5px;
          }
        }
      }
    }
  }
  .uk-table-algos {
    width: calc(~'100% - 324px') !important;
    position: absolute;
    right: 24px;
    left: -9999px;
    bottom: 0;
    z-index: 9999;
    @media (max-width: @breakpoint-small-max) {
      width: calc(~'100% - 46px') !important;
    }
    @media (max-width: @breakpoint-xsmall-max) {
      position: static;
      display: none;
    }
    .uk-table {
      background: #f1f1f1;
      border: 10px solid #f1f1f1;
      @media (max-width: @breakpoint-medium-max) {
        td {
          padding: 8px;
        }
      }
      thead {
        tr {
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          th {
            font-size: 17px;
            line-height: 20px;
            font-weight: normal;
          }
          img, svg {
            max-width: 20px;
            max-height: 20px;
          }
        }
      }
    }
    .uk-table-title {
      cursor: pointer;
      font-size: 14px;
      @media (min-width: @breakpoint-large) {
        font-size: 17px;
      }
      > td {
        > img, > svg {
          width: 21px;
          height: 21px;
          margin-bottom: 5px;
        }
        &.uk-word-break {
          word-break: break-all;
        }
      }

      &:hover, &.uk-active {
        background: rgba(248, 223, 121, 0.4);
      }

      .uk-label {
        @media (max-width: @breakpoint-xsmall-max) {
          margin: 0 1px;
          img {
            & + span {
              display: none;
            }
          }
        }

        &-new, &-hot {
          @media (max-width: @breakpoint-xsmall-max) {
            background: none;
            padding: 0;
          }
        }

        &-wsm {
          background: rgba(255, 204, 0, 0.5);
        }

        &-boost {
          background: rgba(38, 127, 229, 0.5);
        }
      }
    }
    .uk-table-content {
      display: none;
      font-size: 14px;
      @media (min-width: @breakpoint-large) {
        font-size: 17px;
      }
      > td {
        padding: 0;
        .uk-table-last {
          background: @global-primary-background;
          text-align: center;
          font-size: 20px;
          line-height: 23px;
          padding: 10px;
          font-weight: bold;
        }
        .uk-table-overflow {
          height: 395px;
          overflow-y: auto;
          background: #fff;
          th {
            font-size: 14px;
            @media (min-width: @breakpoint-large) {
              font-size: 17px;
            }
          }
          @media (min-width: @breakpoint-large) {
            height: 655px;
          }
        }
        table {
          width: 100%;
        }
      }
    }
  }
}
