<div class="uk-holder-grid">
<div class="uk-child-width-1-2@s uk-child-width-1-4@l uk-grid-small uk-grid-match" uk-grid>
    {{#each items}}
    <div>
        <div class="uk-card uk-card-algos">
            <div class="uk-card-header">
                <div class="uk-card-header-top">
                    <h2 class="uk-card-title">
                        {{title}}
                    </h2>
                    <div>
                        <img class="uk-ico-black" src="%=static=%images/general/icon-per.svg" alt="icon" uk-svg>
                        <span>{{per}}</span>
                    </div>
                    <div>
                        <img class="uk-preserve" src="%=static=%images/general/icon-miners2.svg" alt="icon" uk-svg>
                        <span>{{people}}</span>
                    </div>
                    <div>
                        <img class="uk-preserve" src="%=static=%images/general/icon-coins.svg" alt="icon" uk-svg>
                        <span>{{coins}}</span>
                    </div>
                </div>
                <div class="uk-card-header-bottom">
                    <div>
                        Port: <strong>{{port}}</strong>
                    </div>
                    {{#each labels}}
                    <span class="uk-label {{class}}">
                        {{#if icon}}
                            <img src="%=static=%images/general/{{icon}}" alt="icon">
                        {{/if}}
                        {{title}}
                        </span>
                    {{/each}}
                </div>
            </div>
            <div class="uk-card-body">
                <div>
                    <span>Pool hashrate:</span>
                    <span>
                        <img src="%=static=%images/general/icon-curve.svg" alt="icon">
                        {{pool_hashrate}}
                    </span>
                </div>
                <div>
                    <span>Your hashrate:</span>
                    <span>
                        <img src="%=static=%images/general/icon-curve.svg" alt="icon">
                        {{your_hashrate}}
                    </span>
                </div>
            </div>
        </div>
        <div class="uk-table-algos">

            <table class="uk-table uk-table-middle">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <img src="%=static=%images/general/icon-rewards.svg" alt="icon">
                        <span class="uk-visible@s">Rewards</span>
                    </th>
                    <th>
                        <img src="%=static=%images/general/icon-feed.svg" alt="icon">
                        <span class="uk-visible@s">Fees</span>
                    </th>
                    <th>
                        <img src="%=static=%images/general/icon-nethash.svg" alt="icon">
                        <span class="uk-visible@s">NetHash</span>
                    </th>
                    <th>
                        <img src="%=static=%images/general/icon-tfb.svg" alt="icon">
                        <span class="uk-visible@s">TFB</span>
                    </th>
                    <th class="uk-visible@l">
                        <img src="%=static=%images/general/icon-difficulty.svg" alt="icon">
                        <span class="uk-visible@s">Difficulty</span>
                    </th>
                    <th class="uk-visible@l">
                        <img src="%=static=%images/general/icon-height.svg" alt="icon">
                        <span class="uk-visible@s">Height</span>
                    </th>
                    <th>
                        <img src="%=static=%images/general/icon-profit.svg" alt="icon">
                        <span class="uk-visible@s">Profit</span>
                    </th>
                    <th>
                        <img src="%=static=%images/general/icon-curve.svg" alt="icon">
                        <span class="uk-visible@s">Hashrate</span>
                    </th>
                </tr>
                </thead>
                <tbody>
                {{#each table}}
                <tr class="uk-table-title">
                    <td>
                        <img src="%=static=%images/general/{{icon}}" alt="icon">
                        <span class="uk-visible@s">{{name}}</span>
                        <div>
                            {{#each labels}}
                                <span class="uk-label {{class}}">
                                {{#if icon}}
                                    <img src="%=static=%images/general/{{icon}}" alt="icon">
                                {{/if}}
                                <span>{{title}}</span>
                                </span>
                            {{/each}}
                        </div>
                    </td>
                    <td>{{rewards}}</td>
                    <td>{{fees}}</td>
                    <td>{{nethash}}</td>
                    <td>{{tfb}}</td>
                    <td class="uk-visible@l">{{difficulty}}</td>
                    <td class="uk-visible@l">{{height}}</td>
                    <td class="uk-word-break">{{profit}}</td>
                    <td class="uk-word-break">{{hashrate}}</td>
                </tr>
                <tr class="uk-table-content">
                    <td colspan="9">
                        <div class="uk-table-last">Last 50 Earnings</div>
                        <div class="uk-table-overflow">
                            <table>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th class="uk-visible@s">Diff</th>
                                    <th class="uk-visible@s">Block</th>
                                    <th>Time</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each earnings}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{amount}}</td>
                                    <td class="uk-visible@s">{{diff}}</td>
                                    <td class="uk-visible@s">{{cont}}</td>
                                    <td>{{time}}</td>
                                    <td>{{status}}</td>
                                </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
    {{/each}}
</div>
<div class="uk-overlay"></div>
</div>