<section class="uk-section-registration-form">
    <div class="uk-section-holder">
        <div class="uk-container uk-padding-remove-left uk-padding-remove-right">
            <div class="uk-flex">
                <div class="uk-section-header">
                    <h1 class="uk-section-title">
                        W.S.M
                    </h1>
                    <h2 class="uk-section-subtitle">
                        progressive mining system
                    </h2>
                </div>
                <div class="uk-section-body">
                    <div class="uk-section-body-holder">
                        <a href="/" class="uk-link-back"><i class="arrow"></i>Back to main page</a>
                        <div class="authentication">
                            <div class="uk-form-title">
                                <strong class="uk-logo-form">
                                    <img src="%=static=%images/general/logo.svg" alt="Shoowcoins">
                                </strong>
                                Two-Factor Authentication (2FA)
                            </div>
                            <form action="#" class="uk-form">
                                <div class="uk-form-row">
                                    <label for="number">Input your 6 digit authenticator code</label>
                                    <input id="number" type="text">
                                </div>
                                <button class="uk-button uk-button-primary">Enter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>