<nav class="uk-container" uk-navbar>
    <div class="uk-navbar-left">
        <h1 class="uk-title uk-visible@l">Account setting</h1>
        <a class="uk-navbar-item uk-logo uk-hidden@m" href="#">
            <img src="%=static=%images/general/logo.svg" alt="Showcoins">
        </a>
    </div>
    <div class="uk-navbar-right">
        <div class="uk-navbar-item uk-visible@s">
            <a href="#" class="uk-button uk-button-secondary uk-btn-img">
                <img src="%=static=%images/general/icon-tools.svg" uk-svg alt="You workers">
                <span>You workers</span>
            </a>
        </div>
        <div class="uk-navbar-item uk-register uk-visible@s">
            <a href="#" class="uk-button uk-button-secondary uk-btn-img">
                <img src="%=static=%images/general/ico-name.svg" uk-svg alt="You workers">
                <span>Name</span>
            </a>
            <a href="#" class="uk-button uk-button-secondary uk-btn-img">
                <img src="%=static=%images/general/ico-logout.svg" uk-svg alt="You workers">
                <span>Exit</span>
            </a>
        </div>
        <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav"></a>
    </div>
</nav>